.bg_top_Other {
    background-image: url(../image/bg/bg-other.svg);
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: bottom;
}
.txt-white{
    color: #fff;
}
.text_contact{
    color: #037171;
}
.btn_recommend{
    background-color: #037171;
    color: #fff;
    height: 100%;
    font-weight: 600;
    border-radius: 5px;
    padding: 0px;
}